@import "variables";

@mixin flex_center_position {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hover_mixin {
  color: $secondary;
  transition: .3s;
  background-color: $sections-bg;
}

@mixin hover_mixin-filter {
  transition: .3s;
  filter: invert(90%);
}

@mixin social_hover($color) {
  transition: .3s;
  background-color: $color;
}

@mixin cmn_btn {
  width: 240px;
  height: 65px;
  text-transform: capitalize;
  text-align: center;
  color: $primary;
  border: 2px solid;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  font-size: 23px;
  font-weight: 700;
  outline: none;
  &:hover {
    @include hover_mixin;
    background-color: rgba(255, 255, 255, .3);
    color: $secondary;
  }
}

@mixin cmn_input {
  margin-top: 30px;
  box-sizing: border-box;
  padding: 15px;
  height: 50px;
  border: 1px solid #cccccc;
  font-size: 15px;
  font-weight: 500;
  color: $input;
  outline: none;
  &:active, &:focus, &:hover {
    @include hover_mixin;
  }
}