$primary: #ffffff;
$accent: #7690c5;
$secondary: #222222;
$small-text: #777777;
$cite: #7f97c9;
$sections-bg: #fafafa;
$facebook: #3b5998;
$twitter: #00aced;
$google: #d95232;
$pinterest: #cb2028;
$input: #bbbbbb;


