@import "variables";
@import "mixins";

nav {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
  align-items: center;
  @media screen and (max-width: 767px) {
    & {
      display: block;

      ul {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;

        li {
          padding: 5px;
        }
      }
    }
  }

  li:hover {
    @include hover_mixin;
    background-color: rgba(255, 255, 255, .3);
    color: $secondary;
  }

  img {
    justify-self: flex-start;
    @media screen and (max-width: 767px) {
      & {
        padding: 20px 0;
      }
    }
  }

  li {
    padding: 10px;

    a {
      font-size: 18px;
      font-weight: 500;
      line-height: 41px;
      color: $primary;
    }

  }
}


