@import "mixins";
@import "variables";

.section_with_bg {
  background: url("../img/bg_1.png");
  background-size: cover;
}

h2 {
  color: $secondary;
  font-size: 60px;
  font-weight: 300;
  text-transform: capitalize;
  @media screen and (max-width: 767px) {
    & {
      font-size: 50px;
    }
  }
}

p {
  color: $small-text;
}

.dream {
  padding: 100px 0 120px 0;
  @media screen and (max-width: 767px) {
    & {
      padding: 50px 0 90px 0;
    }
  }

  h1, p {
    text-align: center;
    color: $primary;
  }

  h1 {
    padding-top: 40px;
    padding-bottom: 70px;
    font-size: 66px;
    font-weight: 700;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      & {
        font-size: 56px;
      }
    }
  }

  p {
    font-size: 32px;
    font-weight: 300;
  }

  button {
    @include cmn_btn;
  }
}

.web, .branding {
  padding: 50px 0;
  @media screen and (max-width: 767px) {
    h2 {
      text-align: center;
    }
  }
}

.web {
  @media screen and (max-width: 767px) {
    background: url("../img/tree.png") no-repeat bottom;
    background-size: 100%;
  }
}

.branding {
  background-color: $sections-bg;
  @media screen and (max-width: 767px) {
    background: $sections-bg url("../img/user.png") no-repeat bottom;
    background-size: 100%;
  }
}

.emp {
  font-weight: 700;
}

.skills {
  margin: 100px auto;
  padding: 15px;
  box-sizing: border-box;

}

.flow_column {
  .my-row {
    &:hover img {
      @include hover_mixin-filter;
    }
  }

}

.awesome_clients {
  background-color: $sections-bg;
  padding: 50px 0;

  h2, p {
    text-align: center;
  }
}

@each $bg in think1, think2 {
  .#{$bg}-icon {
    background-image: url('../img/#{$bg}.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.think1-icon {
  background-position: left;
}

.think2-icon {
  background-position: right;
}

.rgt_img {
  justify-content: flex-start;
}

.lft_img {
  justify-content: flex-end;
}

.dnt_o {
  overflow: hidden;
}

cite {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: $cite;

}

blockquote {
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;

  p {
    margin: 0;
  }
}

/*.my-col-8{
 width: @if(.hiden_e{display: none}==true,100%)
}*/
.logos {
  padding: 70px 0;

  .my-col-3 {
    padding: 20px 0;

    &:hover {
      @include hover_mixin-filter;
      filter: sepia(200%);
    }
  }
}

.logos {
  flex-flow: column;
  @media screen and (min-width: 768px) {
    & {
      flex-flow: row;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      flex-flow: row;
    }
  }
}

.avatar {
  flex-flow: column;
  margin: 15px 0;

  span {
    display: block;
    text-align: center;
  }
}

.team {
  background-color: $secondary;
  padding: 100px 0;

  .my-col-4 {
    justify-content: space-around;
  }

  h2, p {
    text-align: center;
  }

  h2 {
    color: $primary;
  }
}

.socials {
  margin: 0 auto;

  a {
    width: 41px;
    height: 41px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #d4d4d4;
    background-color: #111111;
    border-radius: 60%;

  }
}

.photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #000000;
  border: solid 3px $primary;
  border-radius: 50%;

  &:hover {
    transition: .3s;
    background-color: $accent;
  }
}

.workers {
  padding: 50px 0;
  flex-flow: column;
  @media screen and (min-width: 768px) {
    & {
      flex-flow: row;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      flex-flow: row;
    }
  }
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: $primary;
}

.profession {
  font-size: 16px;
  font-weight: 400;
  color: $primary;
}

.if_full {
  margin: 10px 0;
  @media screen and (max-width: 767px) {
    & {
      width: 100%;
    }
  }
}

//@each $bg in facebook, twitter, google, pinterest{
//.#{$bg} {
// background-color: ($bg);
//}//
//go}//
.facebook {
  &:hover {
    @include social_hover($facebook);
  }
}

.twitter {
  &:hover {
    @include social_hover($twitter);
  }
}

.pinterest {
  &:hover {
    @include social_hover($pinterest);
  }
}

.google {
  &:hover {
    @include social_hover($google);
  }
}

.form_section {
  background-color: $accent;

  h2, p {
    color: $primary;

    @media screen and (max-width: 767px) {
      & {
        text-align: center;
      }
    }
  }
}

.contacts {
  flex-flow: row;
}

.item_c {
  display: inline-flex;
  align-items: center;
  margin: 20px 0 10px 0;

  a {
    display: inline-flex;
    color: $primary;
    @media screen and (max-width: 767px) {
      & {
        font-size: 90%;
      }
    }

    &:hover {
      @include hover_mixin-filter;
      cursor: pointer;
    }
  }

  span {
    text-decoration: none;
  }

  .contacts_img {
    width: 28px;
    height: 31px;
    margin: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
      & {
        margin: 0 5px;
      }
    }
  }
}

.form_list {
  box-sizing: border-box;
  margin: 0 15px;

  li, input, textarea {
    width: 100%;
  }

  input, textarea {
    @include cmn_input;
  }

  textarea {
    @include cmn_input;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
    height: 210px;
  }
}

.strtch {
  align-items: flex-start;
  padding: 90px 0;
  @media screen and (max-width: 767px) {
    & {
      flex-flow: column;
    }
    .form_list {
      margin-left: -20px;
    }
  }
}