@import "variables";
@import "mixins";

body {
  font-family: "Brandon Grotesque", sans-serif;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin-left: -40px;
}

li {
  display: inline-flex;
}

a {
  text-decoration: none;
}

.wrap {
  width: 315px;
  margin: 0 auto;
  @media screen and (min-width: 375px) {
    & {
      width: 370px;
    }
  }
  @media screen and (min-width: 425px) {
    & {
      width: 420px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      width: 750px;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      width: 940px;
    }
  }
}

.my-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.my-col-4 {
  width: 100%;
  display: inline-flex;
  @media screen and (min-width: 768px) {
    & {
      width: 33%;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      width: 33%;
    }
  }
}

.my-col-8 {
  width: 66%;
  flex-flow: column;
  display: inline-flex;
}

.my-col-6 {
  width: 100%;
  flex-flow: column;
  display: inline-flex;
  @media screen and (min-width: 768px) {
    & {
      width: 50%;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      width: 50%;
    }
  }
}

.incent {
  align-items: center;
  justify-content: space-around;
}

.flow_column {
  flex-flow: column;
  @media screen and (min-width: 768px) {
    & {
      flex-flow: row;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      flex-flow: row;
    }
  }
}

.hiden_e {
  display: none;
  @media screen and (min-width: 768px) {
    & {
      display: inline-flex;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      display: inline-flex;
    }
  }
}

.my-col-3 {
  flex-flow: column;
  display: inline-flex;
  width: 100%;

  a {
    display: inline-flex;

    img {
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      justify-content: space-around;
      width: 25%;
    }
  }
  @media screen and (min-width: 1024px) {
    & {
      justify-content: space-around;
      width: 25%;
    }
  }
}