$primary: #ffffff;
$secondary: #29323c;
$btn-color: #485563;
$accent: #f6f6f6;
$border: #f2f2f2;
$sections-bg: #d4d4d4;
$facebook: #3b5998;
$twitter: #00aced;
$google: #d95232;
$pinterest: #cb2028;
$input: #bbbbbb;


